/* Global Styling */

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --font-color-black: #000;
    --color-pink: #FF3571;
    --color-grey: #DDD;
    --color-dark-grey: #757575;
    --color-white: #FFF;
    --font-size-h1: 3.375rem;
    --font-size-logo1-ph: 1.5rem;
    --font-size-logo2: 0.75rem;
    --font-size-p1-h4: 1.125rem;
    --line-height-p: 2;
    --font-size-a-p2: 0.875rem;
    --font-size-h2: 2.375rem;
    --line-height-h2: 1.2;
    --font-size-h3: 1.75rem;
    --font-size-submit: 1.188rem;
    --font-size-zahl: 3.25rem;
}

/* Global Font-Stylings */

h1 {
    font-family: 'Roboto-Bold';
    color: var(--font-color-black);
    font-size: var(--font-size-h1);
}

h2 {
    font-family: 'Roboto-Bold';
    color: var(--font-color-black);
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
}

h3 {
    font-family: 'Roboto-Bold';
    color: var(--font-color-black);
    font-size: var(--font-size-h3);
}

h4 {
    font-family: 'Roboto-Bold';
    color: var(--font-color-black);
    font-size: var(--font-size-p1-h4);
}

.logo1 {
    font-family: 'Roboto-Bold';
    color: var(--font-color-black);
    font-size: var(--font-size-logo1-ph);
}

.logo2 {
    font-family: 'Roboto-Light';
    color: var(--font-color-black);
    font-size: var(--font-size-logo2);
}

p {
    font-family: 'Roboto-Light';
    color: var(--font-color-black);
    font-size: var(--font-size-a-p2);
    line-height: var(--line-height-p);
}

.headline p, .idea p {
    font-family: 'Roboto-Light';
    color: var(--font-color-black);
    font-size: var(--font-size-p1-h4);
}

a {
    font-family: 'Roboto-Bold';
    color: var(--color-pink);
    font-size: var(--font-size-a-p2);
}

.zahl {
    font-family: 'Roboto-Bold';
    color: var(--color-grey);
    font-size: var(--font-size-zahl);
}

input::placeholder {
    font-family: Arial;
    color: var(--color-dark-greygrey);
    font-size: var(--font-size-logo1-ph);
}

input[type="submit"] {
    font-family: Arial;
    color: var(--color-white);
    font-size: var(--font-size-submit);
}

.schlusstext {
    font-family: 'Roboto-Light';
    color: var(--font-color-black);
    font-size: var(--font-size-p1-h4);
}

/* !Header */

header {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
}

.headerRechts {
    height: 90%;
    width: 60%;
    background-image: url('../img/ilustracion1.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}

.headerRechts img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headerLinks {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
}

.headerLogo {
    
}

.headerLogo img {
    width: 1.5rem;
    position: fixed;
    margin: 2rem 2rem;
}

.headerTitel {
    margin: 2rem 4rem;
}

.headline {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-left: 30%;
}

/* !Main */

/* Section 1 */

.bilder {
    width: 100%;
    height: 100vh;
}

.bilder img {
    width: 100%;
    height: max-content;
}

/* Section 2 */

.idea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    gap: 5%;
}

.idea p {
    width: 50%;
}

.idea h2 {
    width: 20%;
}

.challenge{
    margin: 10% 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.challenge h2{
    width: 50%;
    margin-left: 15%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "ask think"
    "design share";
    margin: 0 10%;
}

.ask {
    grid-area: ask;
    height: 20vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    position: relative;
}

.think {
    grid-area: think;
    height: 20vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.design {
    grid-area: design;
    height: 20vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.share {
    grid-area: share;
    height: 20vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}


/* Section 3 */

.ready {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    margin: 10% 0;
}

.ready p {
    width: 30%;
}