/* Global Styling */

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --font-color-black: #000;
    --color-pink: #FF3571;
    --color-grey: #DDD;
    --color-dark-grey: #757575;
    --color-white: #FFF;
    --background-color-input: #F5F5F5;
    --font-size-h1: 3.375rem;
    --font-size-logo1-ph: 1.5rem;
    --font-size-logo2: 0.75rem;
    --font-size-p1-h4: 1.125rem;
    --font-size-a-p2: 0.875rem;
    --font-size-h2: 2.375rem;
    --font-size-h3: 1.75rem;
    --font-size-submit: 1.188rem;
    --font-size-zahl: 3.25rem;
    --line-height-h2: 1.2;
    --line-height-p: 2;
}

/* Global Font-Stylings */

h1 {
    font-family: 'Roboto-Bold';
    color: var(--font-color-black);
    font-size: var(--font-size-h1);
}

h2 {
    font-family: 'Roboto-Bold';
    color: var(--font-color-black);
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
}

h3 {
    font-family: 'Roboto-Bold';
    color: var(--font-color-black);
    font-size: var(--font-size-h3);
}

h4 {
    font-family: 'Roboto-Bold';
    color: var(--font-color-black);
    font-size: var(--font-size-p1-h4);
}

p {
    font-family: 'Roboto-Light';
    color: var(--font-color-black);
    font-size: var(--font-size-a-p2);
    line-height: var(--line-height-p);
}

.logo1 {
    font-family: 'Roboto-Bold';
    color: var(--font-color-black);
    font-size: var(--font-size-logo1-ph);
    line-height: 1.5;
}

.logo2 {
    font-family: 'Roboto-Light';
    color: var(--font-color-black);
    font-size: var(--font-size-logo2);
    line-height: 1;
}

.headline p, .sec1 p {
    font-family: 'Roboto-Light';
    color: var(--font-color-black);
    font-size: var(--font-size-p1-h4);
}

a {
    font-family: 'Roboto-Bold';
    color: var(--color-pink);
    font-size: var(--font-size-a-p2);
}

.number {
    font-family: 'Roboto-Bold';
    color: var(--color-grey);
    font-size: var(--font-size-zahl);
}

input[type="email"] {
    font-family: Arial;
    color: var(--color-dark-greygrey);
    font-size: var(--font-size-logo1-ph);
}

input[type="submit"] {
    font-family: Arial;
    color: var(--color-white);
    font-size: var(--font-size-submit);
}

.copyright {
    font-family: 'Roboto-Light';
    color: var(--font-color-black);
    font-size: var(--font-size-p1-h4);
}

/* !Header */

header {
    width: 100%;
    height: 100vh;
    position: relative;
}

.logo {
    position: fixed;
    left: 2rem;
    top: 2rem;
    width: 20px;
    height: 20px;
}

.logoTitle {
    position: absolute;
    left: 4.5rem;
    top: 1.5rem;
}

.headline {
    position: absolute;
    left: 15%;
    top: 40%;
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

header img {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}

header img:nth-last-of-type(1) {
    animation: flying 4s linear 0s infinite forwards;
}

@keyframes flying {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translate(0);
    }
}

/* !Main */

/* Image */

.image {
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

/*  Section 1 */

.sec1 {
    display: flex;
    justify-content: flex-start;
    margin: 30vh 10vw;
    gap: 10vw;
}

.sec1 h2 {
    width: 20vw;
}

.sec1 p {
    width: 40vw;
}

/* Section 2 */

.sec2 {
    display: flex;
    flex-direction: column;
    margin: 30vh 10vw;
}

.sec2 h2 {
    width: 40vw;
    margin-left: 4vw;
    margin-bottom: 10vh;
}

.sec2 img {
    width: 20px;
    height: 20px;
}

.sec2Challenge {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, max-content);
    grid-template-areas: 
    "ask think"
    "design share";
    gap: 3rem;
}

.sec2Challenge article {
    width: 25vw;
    display: flex;
    gap: 1rem;
}

.ask {
    grid-area: ask;
}

.think {
    grid-area: think;
}

.design {
    grid-area: design;
}

.share {
    grid-area: share;
}

.sec2Challenge article h4 {
    margin-bottom: 1rem;
}

/* Section 3 */

.sec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30vh 0;
    gap: 2rem;
}

.sec3 p {
    width: 30vw;
}

/* Section 4 */

.sec4 {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, max-content);
    gap: 5rem 2rem;
    margin: 10vh 10vw;
}

.sec4Img {
    width: 30vw;
    object-fit: cover;
}

.sec4Img:nth-of-type(even) {
    justify-self: center;
}

.icon {
    width: 30px;
    object-fit: cover;
}

.sec4 div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* !Footer */

footer {
    margin-bottom: 2vh;
}

footer div {
    margin: 30vh 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

footer div p {
    width: 30%;
}

footer input[type="email"] {
    width: 40vw;
    padding: 1rem 2rem;
    text-align: center;
    border: none;
    border: 1px solid var(--background-color-input);
}

footer input[type="submit"] {
    padding: 0.8rem 2rem;
    border: none;
    background-color: var(--color-pink);
    border-radius: 2px;
    cursor: pointer;
}

footer input[type="submit"]:hover {
    background: linear-gradient(90deg, var(--color-pink), transparent) #2196f3;
}

.copyright {
    margin-left: 10%;
}